<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Service</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>Spring Service Demo API</h1>
<div id="all-products">
    <h2>/products</h2>
    <button onclick="openEndpoint('/products')">Show all products</button>
</div>

<div id="product">
    <h2>/products/{id}</h2>
    <input type="text" id="product-id" placeholder="Enter product ID" required pattern="\d+">
    <button onclick="openProductById()">Show product</button>
</div>

<div id="categories">
    <h2>/products/categories</h2>
    <button onclick="openEndpoint('/products/categories')">Show all categories</button>
</div>

<div id="filter">
    <h2>/products/filter</h2>
</div>

<div id="search">
    <h2>/products/search</h2>
</div>
<script src="/scripts/index.js"></script>
</body>
</html>
